.deleteBtn {
  background: #fdc830;
  background: -webkit-linear-gradient(to right, #f37335, #fdc830);
  background: linear-gradient(to right, #f37335, #fdc830);
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 10px;
  align-items: flex-end;
  display: flex;
  position: absolute;
  right: 15px;
}

@media screen and (max-width: 650px) {
  .deleteBtn {
    font-size: 12px;
    padding: 8px 8px;
    right: 13px;
  }
}